<%- include('header') %>
    <form id="form" method="POST">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" name="name">
        </div>
        <!-- .form-group -->

        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" name="email">
        </div>
        <!-- .form-group -->

        <div class="form-group">
            <label for="howToReproduce">Como reproduzir o erro?</label>
            <input type="text" class="form-control" name="howToReproduce">
        </div>
        <!-- .form-group -->

        <div class="form-group">
            <label for="expectedOutput">A saída esperada?</label>
            <input type="text" class="form-control" name="expectedOutput">
        </div>
        <!-- .form-group -->

        <div class="form-group">
            <label for="receivedOutput">A saída recebida?</label>
            <input type="text" class="form-control" name="receivedOutput">
        </div>
        <!-- .form-group -->

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
<%- include('footer') %>
